.barbers.section {
  background: #f7f7f7;
}
.barbers-pre-title {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
.barbers-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}
.barbers-list {
  display: flex;
  gap: 30px;
}
.barbers-item {
  width: calc((100% - 60px) / 3);
}
.barbers-item:hover .barbers-top-text {
  transform: translateY(0);
}
.barbers-top-wrap {
  position: relative;
  overflow: hidden;
}
.barbers-top-text {
  position: absolute;
  top: 0;
  padding: 40px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  background-color: #ff6c0088;
  height: 100%;
  transform: translateY(100%);
  transition: transform 500ms;
  overflow: auto;
}
.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}
.barbers-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.barbers-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.barbers-soc-item {
  width: 44px;
  height: 44px;
}
.barbers-soc-link {
  @extend %list;
  width: 100%;
  height: 100%;
  background: var(--main-btn-color);
  border-radius: 50%;
  justify-content: center;
  fill: var(--second-title-color);
  transition: fill 400ms linear;
}
.barbers-soc-link:hover,
.barbers-soc-link:focus {
  fill: var(--accent-color);
}
.barbers-wrap {
  padding-top: 30px;
}
