.header {
  position: absolute;
  width: 100%;
  top: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 31px;
  @include tablet {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 20px;
  }
}
.menu.list {
  display: none;
  @include tablet {
    display: flex;
    gap: 20px;
  }
  @include desktop {
    gap: 30px;
  }
}
.navigation {
  @extend %list;
  // display: none;
  // @include tablet {
  //   display: flex;
  // }
}
.header__container {
  @extend %list;
  display: flex;

  align-items: baseline;
  // position: absolute;
  // top: 0;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // margin: 0 auto;
}
.navigation__logo {
  margin-right: 31px;
  margin-left: 31px;
  @include tablet {
    display: flex;
    margin-right: 51px;
    margin-left: 10px;
    fill: var(--main-title-color);
  }
  @include desktop {
    margin-right: 131px;
  }
}
.logo-icon {
  fill: var(--main-title-color);
  @include tablet {
    fill: var(--second-title-color);
  }
}
.header__connect {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    // align-items: center;
    justify-content: center;
    margin-left: auto;
  }
  @include desktop {
    align-items: center;
    flex-direction: row;
  }
}
.menu {
  @include tablet {
    gap: 20px;
  }
  @include desktop {
    gap: 30px;
  }
}
.menu__link,
.menu__tel,
.connect__tel {
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
  transition: color 200ms linear;
}
.connect__tel.link {
  display: flex;
  margin-left: 63px;
}

.menu__link:hover,
.menu__link:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}
.connect__btn.btn {
  color: var(--main-btn-color);
  margin-left: 43px;
  margin-right: 17px;
  @include tablet {
    margin-bottom: 20px;
    margin-right: 0;
  }
  @include desktop {
    margin-bottom: 0;
    margin-right: 17px;
  }
}
.menu__link.current {
  color: var(--accent-color);
}
